DOMAIN_NAME=
SSL_EMAIL=
GENERIC_TIMEZONE=Europe/Moscow
SERVER_RUNTIME_ROOT=/home/aicore/n8n-server
N8N_ENCRYPTION_KEY=
KB_GITHUB_TOKEN=
N8N_PUBLIC_API_KEY=
MEMORY_GITHUB_TOKEN=
MEMORY_CONNECTOR_GDRIVE_URL=
MEMORY_CONNECTOR_DROPBOX_URL=
MEMORY_CONNECTOR_S3_URL=
MEMORY_CONNECTOR_AUTH_TOKEN=
ADMINER_DOMAIN=
ADMINER_BASICAUTH=
