[global]
type=global
user_agent=MANGO-ELEVEN-SIP-BRIDGE
endpoint_identifier_order=ip,auth_username,username,anonymous

[transport-udp]
type=transport
protocol=udp
bind=${BIND_IP}:${BIND_PORT}
external_signaling_address=${PUBLIC_IP}
external_media_address=${PUBLIC_IP}

[transport-tcp]
type=transport
protocol=tcp
bind=${BIND_IP}:${BIND_PORT}
external_signaling_address=${PUBLIC_IP}
external_media_address=${PUBLIC_IP}

[mango-in]
type=endpoint
transport=transport-udp
context=from-mango
disallow=all
allow=alaw
dtmf_mode=rfc4733
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
media_use_received_transport=yes
t38_udptl=no

[mango-in]
type=aor
max_contacts=20

[mango-in]
type=identify
endpoint=mango-in
match=${MANGO_IP}

; ---------- Asterisk -> Mango (for Eleven outbound calls) ----------
[mango-out]
type=endpoint
from_user=${MANGO_OUT_FROM_USER}
from_domain=${MANGO_OUT_FROM_DOMAIN}
transport=transport-udp
aors=mango-out
disallow=all
allow=alaw
dtmf_mode=rfc4733
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
media_use_received_transport=yes

[mango-out]
type=aor
contact=sip:${MANGO_IP}:5060
qualify_frequency=60

; ---------- Asterisk -> Eleven ----------
[eleven-out]
type=endpoint
transport=transport-tcp
aors=eleven-out
context=from-eleven
disallow=all
allow=alaw
dtmf_mode=rfc4733
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
media_use_received_transport=yes
media_encryption=sdes
media_encryption_optimistic=yes
from_domain=${ELEVEN_SIP_HOST}

[eleven-out]
type=aor
contact=sip:${ELEVEN_SIP_HOST}:${ELEVEN_SIP_PORT};transport=tcp
qualify_frequency=60

; ---------- Eleven -> Asterisk ----------
[eleven-in-auth]
type=auth
auth_type=userpass
username=${ELEVEN_BRIDGE_USERNAME}
password=${ELEVEN_BRIDGE_PASSWORD}

[eleven-in]
type=endpoint
transport=transport-tcp
context=from-eleven
disallow=all
allow=alaw
dtmf_mode=rfc4733
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
media_use_received_transport=yes
media_encryption=sdes
media_encryption_optimistic=yes
auth=eleven-in-auth
identify_by=auth_username,ip

[eleven-in]
type=aor
max_contacts=20
remove_existing=yes

[eleven-in-identify-1]
type=identify
endpoint=eleven-in
match=136.112.48.140

[eleven-in-identify-2]
type=identify
endpoint=eleven-in
match=136.112.0.0/16

[eleven-in-identify-3]
type=identify
endpoint=eleven-in
match=34.135.4.187

[eleven-in-identify-4]
type=identify
endpoint=eleven-in
match=34.171.22.55

[eleven-in-identify-5]
type=identify
endpoint=eleven-in
match=34.44.110.123

[eleven-in-identify-6]
type=identify
endpoint=eleven-in
match=34.171.0.0/16

[eleven-in-identify-7]
type=identify
endpoint=eleven-in
match=34.44.0.0/16

[eleven-in-identify-8]
type=identify
endpoint=eleven-in
match=34.135.0.0/16

[eleven-in-identify-9]
type=identify
endpoint=eleven-in
match=34.0.0.0/8

[eleven-in-identify-10]
type=identify
endpoint=eleven-in
match=35.0.0.0/8
