[global]
type=global
user_agent=MANGO-ELEVEN-SIP-BRIDGE

[transport-udp]
type=transport
protocol=udp
bind=${BIND_IP}:${BIND_PORT}
external_signaling_address=${PUBLIC_IP}
external_media_address=${PUBLIC_IP}

[transport-tcp]
type=transport
protocol=tcp
bind=${BIND_IP}:${BIND_PORT}
external_signaling_address=${PUBLIC_IP}
external_media_address=${PUBLIC_IP}

[mango-in]
type=endpoint
transport=transport-udp
context=from-mango
disallow=all
allow=alaw
dtmf_mode=rfc4733
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
media_use_received_transport=yes
t38_udptl=no

[mango-in]
type=aor
max_contacts=20

[mango-in]
type=identify
endpoint=mango-in
match=${MANGO_IP}

[eleven-out]
type=endpoint
transport=transport-tcp
aors=eleven-out
context=from-eleven
disallow=all
allow=alaw
dtmf_mode=rfc4733
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
media_use_received_transport=yes
from_domain=${ELEVEN_SIP_HOST}

[eleven-out]
type=aor
contact=sip:${ELEVEN_SIP_HOST}:${ELEVEN_SIP_PORT};transport=tcp
qualify_frequency=60
